* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;

  margin: 0;
  padding: 0;
}

h4 {
  font-size: 4rem;
}

header {
  position: sticky;

  z-index: 1000;

  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);

  padding: 10px;
  top: 0;
}

.topnav {
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);

  padding: 10px;
}

.topnav #myLinks {
  display: none;
}

#myLinks a {
  font-size: 17px;
}

.topnav a {
  position: relative;

  display: block;
  text-decoration: none;

  color: white;

  padding: 7px 16px;
  font-size: 20px;
}

.topnav a.icon {
  display: block;

  position: absolute;

  right: 0;
  top: 0;
  bottom: 0;
}

.topnav a::after {
  content: "";
  position: absolute;

  bottom: -3px;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: transparent;
  transition: background-color 0.3s ease;
}

.topnav a:hover::after {
  background-color: #fff;
}

.active {
  font-family: "Quicksand", sans-serif;

  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  padding: 20px;
  margin: 20px;
}

#content {
  flex: 5;

  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

.carousel-item::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.d-block {
  width: 100%;
  max-height: 800px;

  object-fit: cover;
  object-position: center;
}

.featured-image {
  width: 100%;
  max-height: 700px;

  object-fit: cover;
  object-position: center;
}
.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .carousel-item h3 {
    font-size: 15px;
  }
  .d-block {
    width: 100%;
    max-height: 250px;

    object-fit: cover;
    object-position: center;
  }
  .form-container {
    padding: 0 1rem;
  }
}




footer {
  padding: 40px;

  color: white;
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);

  text-align: center;
  font-weight: bold;
}
